<h1>{{mode}} Hashtags/Keywords</h1>
<h3>Need Hashtag/Keyword ideas for your next post?</h3>
<br>
<form style="width: 250px; margin: 0 auto;" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div>
      <input placeholder="Type Hashtag/Keyword Here" id="hashtag" [(ngModel)]="hashtag" name="hashtag">
      <button type="submit">Submit</button>
  </div>    
</form>

<br>

<h3>Recent Hashtags/Keywords</h3>
<h4>Check out the recent hashtags/keywords our users have shared!</h4>

  <div>
    <table *ngFor ="let student of students let i = index">
        <tr> 
          <td style="width: 300px;">{{student.hashtag}}</td>
          <td><button mat-button color="warn" (click)="onDelete(student._id)">DELETE</button></td>
          <td><button mat-button color="accent" [routerLink]="['/editHashtag', student._id]">UPDATE</button></td> 
        </tr>
      </table>
  </div>