<h1>Hashtags/Keywords</h1>
<h3>Need hashtag/keyword ideas for your next post?</h3>
<br>
<form>
    <label for="hashtags">Hashtags: </label>
    <input id="hashtags" type="text" [formControl]="hashtags"><button (click)="updateHashtags()">Add Hashtag/Keyword</button>
</form>

<br>

<h3>Recent Hashtags</h3>
<h4>Check out the recent hashtags our users have shared!</h4>

<table>
    <tr>
      <td style="width: 300px;">#Kennesaw</td>
      <td style="color: tomato;"><a>Update</a></td>
      <td style="color: red;"><a>Delete</a></td>
    </tr>
    <tr>
        <td style="width: 300px;">#Marietta</td>
        <td style="color: tomato;"><a>Update</a></td>
        <td style="color: red;"><a>Delete</a></td>
    </tr>
    <tr>
        <td style="width: 300px;">#Woodstock</td>
        <td style="color: tomato;"><a>Update</a></td>
        <td style="color: red;"><a>Delete</a></td>
      </tr>
      <tr>
        <td style="width: 300px;">#GoOwls</td>
        <td style="color: tomato;"><a>Update</a></td>
        <td style="color: red;"><a>Delete</a></td>
      </tr>
      <tr>
        <td style="width: 300px;">#BlackandYellow</td>
        <td style="color: tomato;"><a>Update</a></td>
        <td style="color: red;"><a>Delete</a></td>
      </tr>
      
  </table>