<h1>Locations</h1>
<h3>Need location ideas for your next post?</h3>
<br>
<form>
    <label for="locations">Location: </label>
    <input id="locations" type="text" [formControl]="locations"><button (click)="updateLocations()">Add Location</button>
</form>

<!-- <p>Value: {{ locations.value }}</p> -->
<br>

<h3>Recent Locations</h3>
<h4>Check out the recent locations our users have shared!</h4>

<table>
    <tr>
      <td style="width: 300px;">Kennesaw, GA</td>
      <td style="color: tomato;"><a>Update</a></td>
      <td style="color: red;"><a>Delete</a></td>
    </tr>
    <tr>
        <td>Kennesaw, GA</td>
        <td style="color: tomato;"><a>Update</a></td>
        <td style="color: red;"><a>Delete</a></td>
    </tr>
    <tr>
        <td style="width: 300px;">Kennesaw, GA</td>
        <td style="color: tomato;"><a>Update</a></td>
        <td style="color: red;"><a>Delete</a></td>
      </tr>
      <tr>
          <td>Kennesaw, GA</td>
          <td style="color: tomato;"><a>Update</a></td>
          <td style="color: red;"><a>Delete</a></td>
      </tr>
      <tr>
        <td style="width: 300px;">Kennesaw, GA</td>
        <td style="color: tomato;"><a>Update</a></td>
        <td style="color: red;"><a>Delete</a></td>
      </tr>
      <tr>
          <td>Kennesaw, GA</td>
          <td style="color: tomato;"><a>Update</a></td>
          <td style="color: red;"><a>Delete</a></td>
      </tr>
  </table>