<h1>{{mode}} Locations</h1>
<h3>Need Location ideas for your next post?</h3>
<br>
<form style="width: 250px; margin: 0 auto;" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div>
      <input placeholder="Type Location Here" id="location" [(ngModel)]="location" name="location">
      <button type="submit">Submit</button>
  </div>    
</form>

<br>

<h3>Recent Locations</h3>
<h4>Check out the recent locations our users have shared!</h4>

  <div>
    <table *ngFor ="let student of students let i = index">
        <tr> 
          <td style="width: 300px;">{{student.location}}</td>
          <td><button mat-button color="warn" (click)="onDelete(student._id)">DELETE</button></td>
          <td><button mat-button color="accent" [routerLink]="['/editLocation', student._id]">UPDATE</button></td> 
        </tr>
      </table>
  </div>