<app-navigation-menu></app-navigation-menu>

<div class="content" role="main">

  <router-outlet></router-outlet>

  <!-- <div>
    <ul *ngFor ="let student of students let i = index">
        <li> {{student._id}}: {{student.caption}} (index {{i}})<button mat-button color="warn" (click)="onDelete(student._id)">DELETE</button></li>
    </ul>
  </div> -->
  <!-- <app-locations></app-locations> -->

<!-- <app-hashtags></app-hashtags> -->
<!-- <app-captions></app-captions> -->
  <!-- Resources -->
  <!-- <h2>Resources</h2>
  <p>Here are some links to help you get started:</p> -->

  <!-- Footer -->
  <footer>
      <p>Developed by Kaan Esendemir, Umesh Chowdhury, Timon Wood</p>
  </footer>

</div>
