<!-- Navigation Bar -->
<ul>
  <li><a href="#home"><b>SocialPostBuddy</b></a></li>
  <li style="float:right"><a href="#captions">Captions</a></li>
  <li style="float:right"><a href="#hashtags">Hashtags/Keywords</a></li>
  <li style="float:right"><a class="active" href="#locations">Locations</a></li>
</ul>

<div class="content" role="main">

  <!-- <app-locations></app-locations> -->

<!-- <app-hashtags></app-hashtags> -->
<app-captions></app-captions>
  <!-- Resources -->
  <!-- <h2>Resources</h2>
  <p>Here are some links to help you get started:</p> -->

  <!-- Footer -->
  <footer>
      <p>Developed by Kaan Esendemir, Umesh Chowdhury, Timon Wood</p>
  </footer>

</div>

<router-outlet></router-outlet>
