<h1>{{mode}} Captions</h1>
<h3>Need Captions ideas for your next post?</h3>
<br>
<form style="width: 250px; margin: 0 auto;" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div>
      <input placeholder="Type Caption Here" id="caption" [(ngModel)]="caption" name="caption">
      <button type="submit">Submit</button>
  </div>    
</form>

<br>

<h3>Recent Captions</h3>
<h4>Check out the recent captions our users have shared!</h4>

  <div>
    <table *ngFor ="let student of students let i = index">
        <tr> 
          <td style="width: 300px;">{{student.caption}}</td>
          <td><button mat-button color="warn" (click)="onDelete(student._id)">DELETE</button></td>
          <td><button mat-button color="accent" [routerLink]="['/editCaption', student._id]">UPDATE</button></td> 
        </tr>
      </table>
  </div>