<h1>Social Post Buddy</h1>
<h3>Your Social Media Helper</h3>
<br>

<h3>Project Description</h3>
<p>This application is targeted towards individuals who need some inspiration before uploading their post to their social media platform. Everybody loves a creative caption but sometimes it is difficult to think of right off the bat. Therefore a user can choose customized captions or create/remove captions to their liking. Same principle applies for hashtags, a user can choose from an array of hashtags and create/remove their own. The final and last component would be the location for their post. A user can choose any location of their liking to use on their post. </p>
<br>
<h3>Group 8</h3>
<br>
<h3>Group Members</h3>
<h5>Umesh Chowdhury, Timon Wood, Kaan Esendemir</h5>